h1,
h2,
ul,
p {
  font-family: "Playfair Display", serif;
}

h1 {
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 10px;
}

p {
  font-size: 25px;
  padding: 0 20px;
}

.currently,
.wind-speed-element,
.humidity-element {
  font-weight: 500;
  margin-left: 10px;
}

.weather-descriptions {
  font-size: 22px;
}

.description,
.wind,
.humidity {
  font-style: italic;
}

h2 {
  padding: 0 50px;
}

.row {
  padding: 10px 0;
}

.btn {
  border: 3px solid #e7057e;
}

.search-button {
  margin: 0 50px;
  width: 60px;
  padding-left: 50px;
}

.current-location-button {
  width: 100px;
}

.form-control {
  padding: 9px 70px;
  margin-left: 50px;
  margin-right: 50px;
}

ul {
  list-style: none;
  margin-left: 20px;
}

a {
  color: #e7057e;
  text-decoration: none;
}

.active {
  color: black;
}
